<%- include('./partials/header') %>
<br>
<form action="/swaps" method="GET">
  <button type="submit" class="btn white-text">See your swap list</button>
</form>

<br>

<form id="search-swaps" method="GET" action="/alternatives">
  <div class="input-item">
    <input name="q" type="text" placeholder="Search for eco-friendly alternatives" autocomplete="off" />

    <div class="search-button">
      <button type="submit" id="searchBtn" class="btn white-text">Search</button>
    </div>
  </div>
</form>

<% if (didSearch) { %>
<% if (item) { %>
<h3>Item: <%= item.houseItem %></h3>

<section id="alternatives-list">
  <% item.alternatives.forEach(function (a){ %>
  <div class="product-details">
    <div class="searched-swap">
      <h4><%= a.swap %>:</h4>
      <% if (user) { %>
      <form method="POST" action="/swaps">
        <input type="hidden" name="alternative" value="<%= a._id %>" />
        <input type="hidden" name="item" value="<%= item._id %>" />
        <button type="submit" class="btn white-text">Add Swap</button>
      </form>
      <% } %>
    </div>
    <div class="swap-description">
      <h5><%= a.description %></h5>
    </div>
  </div>
  <% }) %>
</section>

<% } else { %>
<h3>No Item Found</h3>
<% } %>
<% } else {%>
<h3>Search for Item</h3>
<% } %>

<%- include('./partials/footer') %>