<%- include('./partials/header') %>

<section id="userSwap-list">
  <ul>
    <% user.swapsForUser.forEach(function (swap) { %>
    <li><%= swap.item.houseItem %> -->
      <%= swap.alternative.swap %></li>

    <form action="/swaps/<%= swap.id %>?_method=DELETE" class="delete-form" method="POST">
      <button type="submit" class="btn white-text">Delete Swap</button>
    </form>
    <% }) %>
  </ul>
</section>

<%- include('./partials/footer') %>