<%- include('./partials/header') %>

<br>

<form action="/alternatives" method="GET">
  <button type="submit" class="btn white-text">Search for more Alternatives</button>
</form>

<h3><%= user.name %>'s Swaps</h3>

<% if (user.swapsForUser.length > 0) { %>

<table>
  <thead>
    <tr>
      <th>Item: </th>
      <th>Alternative: </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% user.swapsForUser.forEach(function (s) { %>
    <tr>
      <td><%= s.item.houseItem %></td>
      <td><%= s.alternative.swap %></td>
      <td>
        <form action="/swaps/<%= swap.id %>?_method=DELETE" class="delete-form" method="POST">
          <button type="submit" class="btn white-text">Delete Swap</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<% } else { %>
<h3>No Swaps Added</h3>
<% } %>

<%- include('./partials/footer') %>