<%- include('./partials/header') %>
<h3><%= user.name %>'s Swaps</h3>
<% if (user.swapsForUser.length > 0) { %>
<table>
  <thead>
    <tr>
      <th>Item: </th>
      <th>Alternative: </th>
    </tr>
  </thead>
  <tbody>
    <% user.swapsForUser.forEach(function (swap) { %>
    <tr><%= swap.item.houseItem %></tr>
    <tr><%= swap.alternative.swap %></tr>
    <form action="/swaps/<%= swap.id %>?_method=DELETE" class="delete-form" method="POST">
      <button type="submit" class="btn white-text">Delete Swap</button>
    </form>

    <% }) %>
  </tbody>
</table>

<% } else { %>
<h6>No Swaps Added</h6>
<% } %>

<%- include('./partials/footer') %>