<%- include('./partials/header') %>

<section id="userSwap-list">
  <ul>
    <% user.swapsForUser.forEach(function (swap) { %>
    <li><%= swap.item %>
      <%= swap.alternative %></li>
  </ul>

  <form action="/swaps/<%= swap.id %>?_method=DELETE">
    <button type="submit" class="btn white-text">Delete Swap</button>
  </form>

  <% }) %>
</section>

<%- include('./partials/footer') %>